.block_2{
    grid-area: 4 / 1 / 5 / 4;
    background-color: rgb(59, 51, 53);
    padding: 100px 350px;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: left;
    align-items: center;
}
.photo{
    display: flex;
    margin-right: 50px;
    border-radius: 100%;
    overflow: hidden;
    height: 350px;
    width: 350px;
}