.block_3{
    grid-area: 5 / 1 / 6 / 4;
    background-color: rgb(43, 37, 39);
    padding: 100px 350px;
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: right;
    align-items: center;
}
.rpg{
    display: flex;
    margin-left: 50px;
    border-radius: 100%;
    overflow: hidden;
    height: 350px;
    width: 350px;
}